<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/mixer.jpg}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="card-body">
    <div class="card-body">
        <h5 class="formTitle">
            <i>Personal Information</i>
        </h5>
        <div th:if="${success}" class="text-center alert alert-success">
            <p th:text="${success}"></p>
        </div>

                <!--    update customer form      -->

        <form method="post" th:action="@{/update-account}" th:object="${customer}" id="accountForm">
            <div class="row">

                <!-- First Name -->
                <div class="form-group">
                    <label class="inputLabel" for="firstName">First Name *</label>
                    <input type="text" id="firstName"  name="firstName" placeholder="FirstName" th:field="*{firstName}">
                    <div class="error text-danger ms-2"></div>
                </div>
                <!-- Last Name -->
                <div class="form-group">
                    <label class="inputLabel" for="lastName">Last Name *</label>
                    <input type="text" id="lastName"  name="lastName" placeholder="LastName" th:field="*{lastName}">
                    <div class="error text-danger ms-2"></div>
                </div>

                <!-- Mobile Number-->
                <div class="form-group">
                    <label class="inputLabel" for="mobileNumber">Mobile Number*</label>
                    <input type="text" id="mobileNumber"  name="mobileNumber" placeholder="MobileNumber"  th:field="*{mobileNumber}">
                    <div class="error text-danger ms-2"></div>
                </div>

                <!-- Email-->
                <div class="form-group">
                    <label class="inputLabel" for="mobileNumber">Email</label>
                    <input type="text" id="email"  name="email" placeholder="Email"  th:field="*{email}">
                    <div class="error text-danger ms-2"></div>
                </div>


                <div class="col-md-12">
                    <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Update</button>
                </div>

            </div>
        </form>


        <div class="card-body">

            <!-- Change password of the user account [change- password]-->

            <form th:action="@{/change-password}" method="post" name="passwordForm" id="passswordForm">
                <h5 class="formTitle">
                    <i>Change Password</i>
                </h5>
                <div th:if = "${message}" class="text-center alert">
                    <p th:text = "${message}"></p>
                </div>
                <div class="inputDiv">
                    <label class="inputLabel" for="password"> Current Password * </label>
                    <input type="password" id="password" name="oldPassword" required>
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="newpassword">New Password *</label>
                    <input type="password" id="newpassword" name="newPassword" required>
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Confirm Password *</label>
                    <input type="password" id="confirmPassword" name="repeatNewPassword">
                </div>

                <div class="buttonWrapper">
                    <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Change Password</button>
                    </button>
                </div>
            </form>

        </div>
        <script th:src="@{/js/account.js}"></script>
    </div>






</div>




<div th:replace = "~{fragments::script}"></div>


<!-- Script for checking new password and repeatNewPassword-->

<script>
    const newPasswordInput = document.getElementById('newpassword');
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const submitButton = document.getElementById('passswordForm');    // Use the form element here

    submitButton.addEventListener('submit', function(event) {
        if (newPasswordInput.value !== confirmPasswordInput.value) {
            alert('Passwords do not match! Please re-enter the confirm password.');
            event.preventDefault();      // Prevent form submission if passwords don't match
        }
    });
</script>

</body>
</html>