<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/mixer.jpg}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<header th:fragment="hometop" class="header-area header-style-1 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li th:if = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/login}">Log In</a></li>
                            <li th:unless = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/logout}">Log out</a></li>
                            <li th:if = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/register}">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a th:href="@{/}"><img th:src="@{/imgs/theme/mixer.jpg}" alt="logo"></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form th:action = "@{/search-products/0}" method="get">
                            <input type="text" placeholder="Search for items..." name="keyword" class="form-control">
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a th:href="@{/wishlist}">
                                    <img class="svgInject" alt="wishlist" th:src="@{/imgs/theme/icons/icon-heart.svg}">
                                    <!--                                    <span class="pro-count blue"></span>-->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" th:href="@{/cart}">
                                    <img alt="wishlist" th:src="@{/imgs/theme/icons/icon-cart.svg}">
                                    <!--                                    <span class="pro-count blue"></span>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a th:href="@{/}"><img th:src="@{/imgs/page/application_logo.png}" alt="logo"></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a class="active"  th:href="@{index.html}" style="color: white">Home </a>
                                </li>
                                <li>
                                    <a th:href="@{/about}" style="color: white">About</a>
                                </li>
                                <li><a th:href="@{/products-list}" style="color: white">Shop</a>
                                </li>
                                <li><a th:href="@{/dashboard}" style="color: white">My Account</a>
                                </li>
                                <li><a th:href="@{/wallets}" style="color: white">Wallet</a>
                                </li>
                                <li>
                                    <a th:href="@{/contact}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-block">
                    <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                </div>
                <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a th:href="@{/wishlist}">
                                <img alt="WishList" th:src="@{/imgs/theme/icons/icon-heart.svg}">
                                <span class="pro-count white"></span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" th:href="@{/cart}">
                                <img alt="Cart" th:src="@{/imgs/theme/icons/icon-cart.svg}">
                                <span class="pro-count white"></span>
                            </a>
                        </div>
                        <div class="header-action-icon-2 d-block d-lg-none">
                            <div class="burger-icon burger-icon-white">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:fragment="mobiletop" class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a th:href="@{/}"><img th:src="@{/imgs/page/application_logo.png}" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form th:action = "@{/search-products/0}" method="get">
                    <input type="text" placeholder="Search for items..." name="keyword">
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul th:each="category : ${categories}">
                            <a th:href="@{/products-list(id=${category.id})}"><li  th:text="${category.name}"></li></a>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">

                        <li><a class="active"  th:href="@{index.html}">Home </a>
                        </li>
                        <li>
                            <a th:href="@{/about}" style="color: white">About</a>
                        </li>
                        <li><a th:href="@{/products-list}" style="color: white">Shop</a>
                        </li>
                        <li><a th:href="@{/dashboard}" style="color: white">My Account</a>
                        </li>
                        <li><a th:href="@{/wallets}" style="color: white">Wallet</a>
                        </li>
                        <li>
                            <a th:href="@{/contact}" style="color: white">Contact</a>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a  th:href="@{/contact}"> Our location </a>
                </div>

                     <!--          To get the customer information      -->

                <div class="single-mobile-header-info">
                    <li th:if = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/login}">Log In</a></li>
                    <li th:unless = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/logout}">Log out</a></li>
                    <li th:if = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/register}">Sign Up</a></li>

                </div>
                <div class="single-mobile-header-info">
                    <a href="#">(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img th:src="@{/imgs/theme/icons/icon-facebook.svg}" alt=""></a>
                <a href="#"><img th:src="@{/imgs/theme/icons/icon-twitter.svg}" alt=""></a>
                <a href="#"><img th:src="@{/imgs/theme/icons/icon-instagram.svg}" alt=""></a>
                <a href="#"><img th:src="@{/imgs/theme/icons/icon-pinterest.svg}" alt=""></a>
                <a href="#"><img th:src="@{/imgs/theme/icons/icon-youtube.svg}" alt=""></a>
            </div>
        </div>
    </div>
</div>

<header th:fragment="topbar" class="header-area header-style-5">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">


                </div>
                <div class="col-xl-3 col-lg-4" style="margin-left: 400px">
                    <div class="header-info header-info-right">
                        <ul>
                            <li th:if = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/login}">Log In</a></li>
                            <li th:unless = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/logout}">Log out</a></li>
                            <li th:if = "${session.username == null}"><i class="fi-rs-user"></i><a th:href="@{/register}">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1">
                    <a th:href="@{/}"><img th:src="@{/imgs/theme/mixer.jpg}" alt="logo"></a>
                </div>
                <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                    <nav>
                        <ul>
                            <li><a class="active"  th:href="@{index.html}">Home </a>
                            </li>
                            <li>
                                <a th:href="@{/about}" style="color: white">About</a>
                            </li>
                            <li><a th:href="@{/products-list}" style="color: white">Shop</a>
                            </li>
                            <li><a th:href="@{/dashboard}" style="color: white">My Account</a>
                            </li>
                            <li><a th:href="@{/wallets}" style="color: white">Wallet</a>
                            </li>
                            <li>
                                <a th:href="@{/contact}" style="color: white">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a th:href="@{/wishlist}">
                            <img class="svgInject" alt="WishList" th:src="@{/imgs/theme/icons/icon-heart.svg}">
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" th:href="@{/cart}">
                            <img alt="Cart" th:src="@{/imgs/theme/icons/icon-cart.svg}">
                        </a>
                    </div>
                </div>
                <div class="header-action-icon d-block d-lg-none">
                    <div class="burger-icon">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>

<footer th:fragment="downbar" class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" th:src="@{/imgs/theme/icons/icon-email.svg}" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                        </div>
                        <div class="col my-4 my-md-0 des">
                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a th:href="@{/index}"><img th:src="@{/imgs/theme/mixer.jpg}" alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img th:src="@{/imgs/theme/icons/icon-facebook.svg}" alt=""></a>
                            <a href="#"><img th:src="@{/imgs/theme/icons/icon-twitter.svg}" alt=""></a>
                            <a href="#"><img th:src="@{/imgs/theme/icons/icon-instagram.svg}" alt=""></a>
                            <a href="#"><img th:src="@{/imgs/theme/icons/icon-pinterest.svg}" alt=""></a>
                            <a href="#"><img th:src="@{/imgs/theme/icons/icon-youtube.svg}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a th:href="@{/about}">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a th:href="@{/contact}">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a>View Cart</a></li>
                        <li><a>My Wishlist</a></li>
                        <li><a>Account</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" th:src="@{/imgs/theme/app-store.jpg}" alt=""></a>
                                <a href="#" class="hover-up"><img th:src="@{/imgs/theme/google-play.jpg}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" th:src="@{/imgs/theme/payment-method.png}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--   footer evara permissio  -->

<!--    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a th:href="@{/}"  target="_blank">Magnolia Trendz</a>. All rights reserved
                </p>
            </div>
        </div>
    </div>-->

</footer>

<div th:fragment="script">
    <script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/plugins/slick.js}"></script>
    <script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/js/plugins/wow.js}"></script>
    <script th:src="@{/js/plugins/jquery-ui.js}"></script>
    <script th:src="@{/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/js/plugins/select2.min.js}"></script>
    <script th:src="@{/js/plugins/waypoints.js}"></script>
    <script th:src="@{/js/plugins/counterup.js}"></script>
    <script th:src="@{/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/js/plugins/isotope.js}"></script>
    <script th:src="@{/js/plugins/scrollup.js}"></script>
    <script th:src="@{/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/js/plugins/jquery.theia.sticky.js}"></script>
    <!-- Template  JS -->
    <script th:src="@{/js/main.js}"></script>



</div>

</body>
</html>