<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>Order-View</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/mixer.jpg}">

    <link rel="stylesheet" th:href="@{/css/main1.css?v=3.4}">
    <link rel="stylesheet" th:href="@{/css/main.css?v=3.4}">
</head>
<body>
<header th:replace="~{fragments::hometop}" ></header>
<div th:replace="~{fragments::mobiletop}"></div>

<div class="container">
    <section class="content-main">
        <div class="content-header">

            <!-- Order id-->
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: [(${order.id})]</p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b th:text="${order.orderDate}"></b>
                            </span> <br>
                        <small class="text-muted">Order ID: [(${order.id})]</small>
                    </div>
                </div>

            </header>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>

                            <!-- Customer info-->
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    [(${order.customer.firstName})] <br> [(${order.customer.email})] <br> [(${order.customer.mobileNumber})]
                                </p>
                                <a th:href="@{/dashboard}">View profile</a>
                            </div>

                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>

                            <!-- Order Info-->
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: [(${order.paymentMethod})]
                                </p>
                            </div>

                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>

                            <!-- Delivery info -->
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    Address: [(${order.shippingAddress.address_line_1})] <br>[(${order.shippingAddress.address_line_2})]<br> [(${order.shippingAddress.city})] <br>
                                    [(${order.shippingAddress.country})] <br> [(${order.shippingAddress.pincode})]
                                </p>
                                <a th:href="@{/dashboard}">View profile</a>
                            </div>

                        </article>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderDetail : ${order.orderDetails}" >
                <span th:unless="${orderDetail.product != null}">
                    Product Not Available
                </span>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img th:if="${orderDetail.product != null}" th:src="@{'/imgs/images/' + ${orderDetail.product.image[0].getName()}}" width="40" height="40" class="img-xs" alt="Item">
                                                <span th:unless="${orderDetail.product != null}">
                    Product Not Available
                </span>
                                            </div>
                                            <div class="info">
                <span th:if="${orderDetail.product != null}">
                    [(${orderDetail.product.name})] <br> Size : [(${orderDetail.size})]
                </span>
                                                <span th:unless="${orderDetail.product != null}">
                    Product Not Available
                </span>
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                   <span th:if="${orderDetail.product != null}" th:text="${orderDetail.product.costPrice}" >
                </span>
                                        <span th:unless="${orderDetail.product != null}">
                    Product Not Available
                </span>
                                    </td>
                                    <td>
                  <span th:if="${orderDetail.product != null}" th:text="${orderDetail.quantity}" >
                </span>
                                        <span th:unless="${orderDetail.product != null}">
                    Product Not Available
                </span>
                                    </td>
                                    <td class="text-end">
                   <span th:if="${orderDetail.product != null}" th:text="${orderDetail.product.costPrice} * ${orderDetail.quantity}" >
                </span>
                                        <span th:unless="${orderDetail.product != null}">
                    Product Not Available
                </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist" th:if="${order.discountPrice != null}">
                                                <dt>Total Price :</dt>
                                                <dd th:with="totalPrice=(${order.totalPrice} + ${order.discountPrice})" th:text="${#numbers.formatDecimal(totalPrice,0,'COMMA', 2,'POINT')}"></dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>Free</dd>
                                            </dl>
                                            <dl class="dlist" th:if="${order.discountPrice != null}">
                                                <dt>Discount</dt>
                                                <dd  th:text="${order.discountPrice}"></dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">[(${order.totalPrice})]</b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span th:unless="${#strings.equals(order.orderStatus, 'Cancelled')}" class="badge rounded-pill alert-success text-success" >Payment [(${order.paymentStatus})]</span>
                                                    <span th:if="${#strings.equals(order.orderStatus, 'Cancelled')}" class="badge rounded-pill alert-success text-success" >[(${order.orderStatus})]</span>

                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    </section>
</div>







<footer th:replace="~{fragments::downbar}"></footer>
<div th:replace = "~{fragments::script}"></div>
<script th:src="@{/js/plugins/jquery.elevatezoom.js}"></script>
<!-- Template  JS -->
<script th:src="@{/js/shop.js?v=3.4}"></script>
</body>
</html>