<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Order-Tracking</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/mixer.jpg}">

    <link rel="stylesheet" th:href="@{/css/main1.css?v=3.4}">
    <link rel="stylesheet" th:href="@{/css/main.css?v=3.4}">
</head>
<body>
<header th:replace="~{fragments::hometop}"></header>
<div th:replace="~{fragments::mobiletop}"></div>

<div class="container">
    <section class="content-main">
        <div class="content-header">

            <!--Order Track-->
            <div>
                <h2 class="content-title card-title">Order Tracking</h2>
                <p>Details for Order ID: [(${order.id})]</p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>[(${time})]</b>
                            </span> <br>
                        <small class="text-muted">Order ID: [(${order.id})]</small> <br>
                        <small class="text-muted">Your order has been [(${order.orderStatus})]</small>
                    </div>
                </div>
            </header>
            <div th:if="${order.orderStatus=='Cancelled' or order.orderStatus=='Returned'}">
                <h2 th:text="${order.orderStatus}"></h2>
            </div>
            <div th:unless="${order.orderStatus=='Cancelled' or order.orderStatus=='Returned'}" class="card-body">
                <div class="order-tracking mb-100">
                    <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between">
                        <div th:classappend="${pending==1 ?'completed':''}" class="step">
                            <div class="step-icon-wrap">
                                <div class="step-icon"><i class="material-icons md-settings"></i></div>
                            </div>
                            <h4 class="step-title">Processing Order</h4>
                            <small class="text-muted text-sm">[(${order.orderDate})]</small>
                        </div>
                        <div th:classappend="${confirmed==2 ?'completed':''}" class="step">
                            <div class="step-icon-wrap">
                                <div class="step-icon"><i class="material-icons md-shopping_cart"></i></div>
                            </div>
                            <h4 class="step-title">Confirmed Order</h4>
                            <small class="text-muted text-sm">[(${order.orderDate})]</small>
                        </div>
                        <div th:classappend="${shipped==3 ?'completed':''}" class="step">
                            <div class="step-icon-wrap">
                                <div class="step-icon"><i class="material-icons md-local_shipping"></i></div>
                            </div>
                            <h4 class="step-title">Product Dispatched</h4>
                        </div>
                        <div th:classappend="${delivered==4 ?'completed':''}" class="step">
                            <div class="step-icon-wrap">
                                <div class="step-icon"><i class="material-icons md-check_circle"></i></div>
                            </div>
                            <h4 class="step-title">Product Delivered</h4>
                        </div>
                    </div>
                </div>
                <div class="row mb-50 mt-20 order-info-wrap text-center">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    [(${order.customer.firstName})] <br> [(${order.customer.email})] <br> [(${order.customer.mobileNumber})]
                                </p>
                                <a th:href="@{/dashboard}">View profile</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: [(${order.paymentMethod})] <br>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    Address: [(${order.shippingAddress.address_line_1})] <br>[(${order.shippingAddress.address_line_2})]<br> [(${order.shippingAddress.city})] <br>
                                    [(${order.shippingAddress.country})] <br> [(${order.shippingAddress.pincode})]
                                </p>
                                <a th:href="@{/dashboard}">View profile</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center mt-100 mb-50">
                        <a class="btn btn-primary" th:href="@{/order-view/{id}(id=${order.id})}">View Order Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<footer th:replace="~{fragments::downbar}"></footer>
<div th:replace = "~{fragments::script}"></div>
<script th:src="@{/js/plugins/jquery.elevatezoom.js}"></script>
<script th:src="@{/js/shop.js?v=3.4}"></script>
</body>
</html>