<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title th:text="${title}"></title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/mixer.jpg} ">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">


</head>
<body style="background-image: url(https://dt-hphone.myshopify.com/cdn/shop/articles/blog-2.jpg?v=1640769297);background-repeat: no-repeat; background-size: cover">
<!--<header th:replace="~{fragments::topbar}" ></header>-->

<!--<div th:replace="~{fragments::mobiletop}"></div>-->




<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">

                    <div class="col-lg-6" style="background-color: whitesmoke;margin-left: 350px" >
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Create an Account</h3>
                                </div>

               <!--                 <div th:if="${param['success']}">
                                    <p class="alert alert-success" th:text="${param['success']}">Registration successful!</p>
                                </div>
                                <div th:if="${param['error']}">
                                    <p class="alert alert-danger" th:text="${param['error']}"> error</p>
                                </div>-->

                                <div th:if = "${success}" class = "text-center alert alert-success">
                                    <p th:text = "${success}"></p>
                                </div>
                                <div th:if = "${error}" class="text-center alert alert-danger">
                                    <p th:text = "${error}"></p>
                                </div>


                                <form id="signupForm" th:action = "@{/do-register}" method="POST" th:object = "${customerDto}">
                                    <div class="d-md-flex"style="column-gap: 20px" >
                                        <div class="form-group">
                                            <input type="text" id="firstName"  name="firstName" placeholder="FirstName" th:field="*{firstName}">
                                            <div class="error text-danger ms-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="lastName"  name="lastName" placeholder="LastName" th:field="*{lastName}">
                                            <div class="error text-danger ms-2"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="email" id="email" name="username" placeholder="Email" th:field="*{email}">
                                        <div class="error text-danger ms-2"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="phone"  name="mobileNumber" placeholder="MobileNumber"  th:field="*{mobileNumber}">
                                        <div class="error text-danger ms-2"></div>
                                    </div>
                                    <div class="form-group">
                                        <input  type="password" id="password" name="password" placeholder="Password"  th:field="*{password}">
                                        <div class="error text-danger ms-2"></div>
                                    </div>


                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" >Submit &amp; Register</button>
                                    </div>
                                </form>
                                <div class="text-muted text-center">Already have an account? <a th:href="@{/login}">Sign in now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!--<footer th:replace="~{fragments::downbar}"></footer>-->



<script src="/js/validation.js"></script>
<script src="/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/plugins/slick.js"></script>
<script src="/js/plugins/jquery.syotimer.min.js"></script>
<script src="/js/plugins/wow.js"></script>
<script src="/js/plugins/jquery-ui.js"></script>
<script src="/js/plugins/perfect-scrollbar.js"></script>
<script src="/js/plugins/magnific-popup.js"></script>
<script src="/js/plugins/select2.min.js"></script>
<script src="/js/plugins/waypoints.js"></script>
<script src="/js/plugins/counterup.js"></script>
<script src="/js/plugins/jquery.countdown.min.js"></script>
<script src="/js/plugins/images-loaded.js"></script>
<script src="/js/plugins/isotope.js"></script>
<script src="/js/plugins/scrollup.js"></script>
<script src="/js/plugins/jquery.vticker-min.js"></script>
<script src="/js/plugins/jquery.theia.sticky.js"></script>
<!-- Template  JS -->
<script src="/js/main.js?v=3.4"></script>



<!--<div th:replace = "~{fragments::script}"></div>-->
</body>
</html>