<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>Update-Address</title>
    <!--Logo-->

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/mixer.jpg}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header th:replace="~{fragments::hometop}" ></header>
<div th:replace="~{fragments::mobiletop}"></div>

<div class="card-body">
    <div th:if = "${success}">
        <p class = "alert alert-success" th:text = "${success}"></p>
    </div>
    <div th:if = "${error}">
        <p class = "alert alert-danger" th:text = "${error}"></p>
    </div>

    <form id="addressForm" method="post"  th:object="${addressDto}"  th:action="@{/update-address/{id}(id = ${addressDto.id})}">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Address Line 1<span class="required">*</span></label>
                <input id="address_line_1" class="form-control square" name="address_line_1" type="text" th:field="*{address_line_1}">
                <div class="error text-danger ms-2"></div>
            </div>
            <div class="form-group col-md-6">
                <label>Address Line 2<span class="required">*</span></label>
                <input id="address_line_2" class="form-control square" name="address_line_2" type="text" th:field="*{address_line_2}">
                <div class="error text-danger ms-2"></div>
            </div>
            <div class="form-group col-md-12">
                <label>City <span class="required">*</span></label>
                <input id="city" class="form-control square" name="city" type="text" th:field="*{city}">
                <div class="error text-danger ms-2"></div>
            </div>
            <div class="form-group col-md-12">
                <label>Country<span class="required">*</span></label>
                <input id="country" class="form-control square" name="country" type="text" th:field="*{country}">
                <div class="error text-danger ms-2"></div>
            </div>
            <div class="form-group col-md-12">
                <label>PinCode<span class="required">*</span></label>
                <input id="pincode" class="form-control square" name="pincode" type="text" th:field="*{pincode}">
                <div class="error text-danger ms-2"></div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Update</button>
            </div>
        </div>
    </form>

</div>

<footer th:replace="~{fragments::downbar}"></footer>
<div th:replace = "~{fragments::script}"></div>
<script th:src="@{/js/address.js}"></script>
<script th:src="@{/js/shop.js?v=3.4}"></script>
</body>
</html>