<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>Wallet</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/mixer.jpg}">  <!-- logo-->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css}" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<header th:replace="~{fragments::hometop}" ></header>
<div th:replace="~{fragments::mobiletop}"></div>

<div class="container mt-100">
    <h3 class="text-center">Customer Wallet Details</h3>

    <div class="text-center">
        <h5>Customer Name: [(${wallet.customer.getFirstName()})]</h5>
        <h5>Wallet Balance: ₹[(${wallet.balance})]</h5>
    </div>

    <div class="wallet-form" >
        <h5>Add Amount to Wallet</h5>

        <form id="walletForm">
            <label for="amount">Amount to Add:</label>
            <input type="number" id="amount" name="amount"  min="0" max="99999" placeholder="min 0 and max 99999" required>
            <button class="btn btn-fill-out btn-block hover-up" onclick="addWallet()">Add</button>
        </form>
    </div>

    <div class="table-main table-responsive mb-100">
        <table class="table" id="walletTable" >
            <thead>
            <tr>
                <th>Amount</th>
                <th>Type</th>
                <th>Transaction Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="walletHistory : ${walletHistoryList}">
                <td>₹[(${walletHistory.amount})]</td>
                <td th:text="${walletHistory.type}"></td>
                <td th:text="${walletHistory.transactionStatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments::downbar}"></footer>
<script th:src="@{https://checkout.razorpay.com/v1/checkout.js}"></script>

<div th:replace = "~{fragments::script}"></div>

<!--Script for wallett-->
<script>
    function addWallet(event) {
        console.log("hello")
        event.preventDefault();
        console.log("called");
        const amountElement = document.getElementById("amount");
        const cash = amountElement.value;
        console.log(cash);
        walletPayment(cash);
    }

    const walletPayment = (cash) => {
        $.ajax(
            {

                url:'/mixer/add-wallet',
                data:JSON.stringify({amount:cash}),
                contentType: 'application/json',
                type:'POST',
                dataType:'json',
                success:function(response){
                    console.log(response)
                    if(response.status === "created"){
                        let walletOptions ={
                            key:'rzp_test_UNiTzy90sRVBuq',
                            amount: response.amount,
                            currency:'INR',
                            name:'mixer',
                            description:'Wallet Payment',
                            image:'/imgs/theme/logo.png',
                            order_id:response.id,
                            handler:function(response){
                                console.log(response.razorpay_payment_id);
                                console.log(response.razorpay_order_id);
                                console.log(response.razorpay_signature);
                                verifyPayment(response);
                            },
                            prefill: {
                                name:"",
                                email:"",
                                contact:""
                            },
                            notes:{
                                address:"mixer"
                            },
                            theme:{
                                color: "#3399cc"
                            }
                        };
                        let rzp = new Razorpay(walletOptions);
                        rzp.on('payment.failed', function (response){
                            console.log(response.error.code);
                            console.log(response.error.description);
                            console.log(response.error.source);
                            console.log(response.error.step);
                            console.log(response.error.reason);
                            console.log(response.error.metadata.order_id);
                            console.log(response.error.metadata.payment_id);
                        });
                        rzp.open();
                    }
                },
                error:function(error){
                    console.log(error)
                    alert("something went wrong")
                }
            }
        )

        function verifyPayment(payment){
            $.ajax({
                url:'/mixer/verify-wallet',
                method: 'post',
                data:JSON.stringify(payment),
                contentType: 'application/json',
                dataType:'json',
                success:(response)=>{
                    if(response.status){
                        alert("congrats!! Money Added to the Wallet");
                        location.href='/mixer/wallets'
                    } else{
                        alert("Payment failed!")
                    }
                }
            });
        }
    }

    const walletForm = document.getElementById("walletForm");
    walletForm.addEventListener("submit", addWallet);
    $(document).ready(function() {
        $('#walletTable').DataTable();
    });
</script>
<script th:src="@{/js/shop.js?v=3.4}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js}" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js}" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>